@import styles

.container
    width: 100%
    height: 100%
    @include element-flex(column, flex-start, flex-start)
    gap: $value-8

.video
    width: 0
    height: 0
    display: none

.canvas
    width: 100%
    height: 100%
    border-radius: $value-3
    box-shadow: 0 $value-1 $value-3 $b3

.clean_canvas
    width: 0
    height: 0
    display: none

.frame_canvas
    width: 0
    height: 0
    display: none

.buttons_column
    width: 100%
    @include element-flex(column, center, center)
    gap: $value-8

.buttons_row
    width: 100%
    @include element-flex(row, center, center)
    gap: $value-8

.button
    width: calc(100% / 3)

.time_row
    flex: 1
    @include element-flex(row, center, center)
    gap: $value-1

.time
    +label-20
    color: $bw


.loading
    @include element-flex(row, center, center)
    width: 100%
    height: 100%
    border-radius: $value-3
    box-shadow: 0 $value-1 $value-3 $b3
