@import styles

.container
    width: 80%
    @include element-flex(column, flex-start, flex-start)
    margin-top: $value-16
    margin-bottom: $value-16
    gap: $value-8
    box-sizing: border-box
    padding: $value-8
    color: $w
    background: $b2
    border-radius: $value-3
    position: relative

.row
    width: 100%
    @include element-flex(row)
    gap: $value-8

.camera
    width: calc(50% - $value-4)
    aspect-ratio: 1 / 1
    display: flex

.frames
    width: calc(50% - $value-4)
    aspect-ratio: 1 / 1
    display: flex

.horizontal_scroll
    height: 100%
    background-color: $b3
    padding: $value-6
    border-radius: $value-3

.column
    @include element-flex(column)
    gap: $value-4
    height: 100%

.column_item
    aspect-ratio: 1/1
    height: calc(100%/3)
    border-radius: $value-3


.frames_counter
    position: absolute
    top: $value-2
    right: $value-2
    +label-16
