@import styles

.container
    width: 80%
    @include element-flex(column, flex-start, flex-start)
    margin-top: $value-16
    margin-bottom: $value-16
    gap: $value-8
    box-sizing: border-box
    padding: $value-8
    color: $w
    background: $b1
    border-radius: $value-3

.camera_row
    width: 100%
    @include element-flex(row)
    gap: $value-8

.camera
    width: 50%
    aspect-ratio: 1 / 1
    display: flex
