@import 'styles'

.container
    @include element-flex(row, center,center)
    gap: $value-2

.switch
    cursor: pointer
    width: $value-16
    height: $value-8
    border-radius: $value-4
    position: relative
    transition: background-color 0.3s ease
    &.on
        background-color: $b5
    &.off
        background-color: $b3

.dot
    width: $value-7
    height: $value-7
    border-radius: 50%
    background-color: $b8
    position: absolute
    top: 2px
    transition: transform 0.3s ease, background-color 0.3s ease
    &.on
        transform: translateX(calc($value-16 - $value-7 - 2px))
    &.off
        transform: translateX(2px)

.text
    +label-16
    &.on
        color: $bw
    &.off
        color: $b7

.red
    background-color: $red4

.green
    background-color: $green4

.blue
    background-color: $blue4
